.ResultBox {
  min-height: 96px;
  padding: 16px;
  color: #fff;
  cursor: pointer;
  
  &:active {
    transform: scale(1.02);
  }

  &__body {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  &.google {
    background-color: #1a73e8;
  }

  &.kakao {
    color: #3b1e1e;
    background-color: #f7e041;
  }

  &.naver {
    background-color: #52c83e;
  }
}